# Python
__pycache__/
*.py[cod]
*$py.class

# Env
.env
.env.local
.env.*.local
.venv
venv/
env/
ENV/

# Logs
logs/
*.log
*.log.*

# Docker volumes & data
velociraptor-data/
wazuh/
elasticsearchdata/
mispsqldata/
cassandradata/
miniadata/

# Runtime data
arkime-logs/
arkime-pcap/
opensearch-data/
elasticsearch-data/
wazuh-indexer-data/
wazuh-manager-data/
filebeat-data/

